table td {
  text-align: center;
}
table th {
  font-size: 6px;
}
.bg-img1 {
  background-image: url("C:\Users\muppala.suchitha\node\Custom-Calendar\frontend\src\jpeg\calendarl.jpg");
  height: 700px;
  width: fit-content;
  filter: blur(0.5);
}
table thead {
  position: sticky;
  top: 0px;
  margin: 0 0 0 0;
}
